/** Landing style */
.landing_page {
  float: left;
  text-align: center;
  background-color: #101d2d;
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

/* @media only screen and (min-width: 900px) {
  .landing_page {
    background: linear-gradient(rgba(16, 29, 45, 0.9), rgba(16, 29, 45, 0.7)), url("./images/work.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(30, 41, 59, 0.5);
  }
} */

.landing_page .page_width {
  max-width: 1400px;
  min-width: 390px;
  margin: auto;
}

.landing_page .page_width .wellcome {
  float: left;
  text-align: center;
  min-height: 60vh;
  width: 50%;
}

.landing_page .page_width .wellcome::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -20px; /* Adjust this value to control the length of the bottom-left corner */
  border-bottom: 20px solid #f5f5f5; /* Height of the bottom-left corner */
  border-right: 20px solid transparent;
}

.landing_page .page_width .wellcome h1 {
  font-size: 3.5rem;
  width: 70%;
  margin: auto;
  margin-top: 150px;
  text-align: start;
  color: #ffffff;
  font-family: Playfair Display, serif;
  animation: fadeInLeft 1.5s ease;
  animation-delay: 0.3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.landing_page .page_width .wellcome p {
  font-size: 1.5rem;
  text-align: start;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 35px;
  animation: fadeInLeft 1.5s ease;
  animation-delay: 0.3s;
  color: #94a3b8;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.landing_page .page_width .wellcome .button_1, .landing_page .page_width .wellcome .button_2 {
  margin-left: 15%;
  float: left;
  height: 45px;
  background-color: #2174ea;
  color: #ffffff;
  border: #2174ea;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  line-height: 45px;
  letter-spacing: 0.55px;
  animation: fadeInLeft 1.5s ease;
  animation-delay: 0.3s;
  padding: 0 20px;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.landing_page .page_width .wellcome .button_2 {
    margin-left: 20px;
    background-color: #334155;
    border: #334155;
}

.landing_page .page_width .wellcome .button_1:hover {
  background-color: #005de2;
}

.landing_page .page_width .wellcome .button_2:hover {
  background-color: #1e293b;
}

.landing_page .page_width .wellcome img {
  margin-top: 110px;
}

.landing_page .page_width .wellcome .outline {
  width: 340px;
  height: 340px;
  border: 1px solid #ffffff;
  margin-left: 210px;
  margin-top: 150px;
  animation: fadeInRight 1.5s ease;
  animation-delay: 0.3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

.landing_page .page_width .wellcome .card {
  width: 300px;
  margin: auto;
  padding: 15px 25px;
  min-height: 100px;
  margin-top: -310px;
  text-align: start;
  animation: fadeInRight 2s ease;
  animation-delay: 0.3s;
  visibility: hidden;
  animation-fill-mode: forwards;
  background: rgb(30,41,59);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.landing_page .page_width .wellcome .card h2 {
  width: 300px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #ffffff;
  font-weight: bold;
  font-family: Playfair Display, serif;
}

.landing_page .page_width .wellcome .card p {
  font-size: 1.2rem;
  width: 300px;
  margin-top: 8px;
  margin-bottom: 7px;
  color: #f1f1f1;
  animation: fadeInRight 1.5s ease;
  animation-delay: 0.3s;
  visibility: hidden;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 900px) {
  .landing_page .page_width .wellcome {
    width: 100%;
    min-height: 25vh;
  }

  .landing_page .page_width .wellcome h1 {
    width: 80%;
    margin-top: 75px;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .landing_page .page_width .wellcome p {
    display: none;
  }

  .landing_page .page_width .wellcome .button_1 {
    margin-left: 10%;
  }
}

@keyframes fadeInLeft {
  0% {
      opacity: 0;
      transform: translateX(-40px);
      visibility: visible; /* Make it visible at the start of the animation */
  }
  100% {
      opacity: 1;
      transform: translateX(0);
      visibility: visible; /* Keep it visible at the end of the animation */
  }
}

@keyframes fadeInRight {
  0% {
      opacity: 0;
      transform: translateX(40px);
      visibility: visible; /* Make it visible at the start of the animation */
  }
  100% {
      opacity: 1;
      transform: translateX(0);
      visibility: visible; /* Keep it visible at the end of the animation */
  }
}

/** Description style */

.description {
  float: left;
  text-align: center;
  min-height: 500px;
  width: 100%;
}

.description .page_width {
  max-width: 1400px;
  min-width: 390px;
  margin: auto;
  padding-bottom: 20px;
}

.description .page_width h1 {
  font-size: 45px;
  color: #334155;
  font-family: Playfair Display, serif;
}

.description .page_width .left, 
.description .page_width .right {
  margin: 20px 0;
  float: left;
  text-align: center;
  align-items: center;
  min-height: 500px;
  width: 50%;
  overflow: hidden;
}

.description .page_width .left {
  border-right: 1px solid #94a3b8;
  width: calc(50% - 2px);
}

.description .page_width .left h2, 
.description .page_width .right h2 {
  font-size: 2.2rem;
  width: 70%;
  margin: auto;
  padding-top: 80px;
  text-align: start;
  color: #334155;
}

.description .page_width p, 
.description .page_width p {
  font-size: 1.5rem;
  text-align: start;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #94a3b8;
}

@media only screen and (max-width: 900px) {
  .description .page_width h1 {
    font-size: 2.5em;
    width: 90%;
    margin-left: 5%;
  }

  .description .page_width .left, 
  .description .page_width .right {
    width: 100%;
    min-height: 250px;
    margin: 0;
  }

  .description .page_width .left {
    border: 0;
  }

  .description .page_width .right {
    margin-bottom: 100px;
  }

  .description .page_width .left h2, 
  .description .page_width .right h2 {
    width: 80%;
    font-size: 1.8rem;
  }
  
  .description .page_width .left p,  
  .description .page_width .right p {
    width: 80%;
  }
}

.description .page_width .right .banner, .description .page_width .left .banner {
  width: 350px;
  min-height: 100px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 20px 0px;
}

.description .page_width .right .banner input[type=text], .description .page_width .left .banner input[type=text] {
  width: calc(50% - 20px);
  height: 35px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #94a3b8;
  border-right: none;
}

.description .page_width .right .banner button, .description .page_width .left .banner button {
  width: 30%;
  height: 37px;
  outline: none;
  padding: 0 10px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #334155;
  background-color: #334155;
  color: #ffffff;
  letter-spacing: 1px;
}

.description .page_width .right .banner p, .description .page_width .left .banner p {
  font-size: 1.1rem;
  text-align: start;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 10px;
  color: #64748b;
}


/** Business style */

.business_background {
  float: left;
  text-align: center;
  min-height: 500px;
  width: 100%;
  padding-bottom: 40px;
  background: linear-gradient(rgba(16, 29, 45, 0.9), rgba(16, 29, 45, 0.9)), url("./images/office.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgba(30, 41, 59, 0.5);
}

.business_background p {
  font-size: 1.5rem;
  width: 55%;
  margin: auto;
  margin-top: 20px;
  color: #94a3b8;
}

.business_background h1 {
  font-size: 45px;
  width: 70%;
  margin: auto;
  margin-top: 200px;
  color: #ffffff;
}

@media only screen and (max-width: 900px) {
  .business_background {
    background-size: 1450px;
    background-position: center;
    min-height: 250px;
  }

  .business_background h1 {
    margin-top: 75px;
    font-size: 30px;
  }

  .business_background p {
    width: 100%;
  }
}

.business_background button {
  margin: auto;
  margin-top: 20px;
  height: 45px;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  line-height: 45px;
  letter-spacing: 0.55px;
  padding: 0 20px;
  color: #ffffff;
  background-color: #2174ea;
  border: #2174ea;
}

.business_background button:hover {
  background-color: #005de2;
}

/** Services style */

.services {
  float: left;
  text-align: center;
  min-height: 300px;
  width: 100%;
  background-color: #f1f5f9;
}

.services .page_width {
  max-width: 1400px;
  min-width: 390px;
  margin: auto;
  padding-bottom: 20px;
}

.services .page_width .card_list {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between;
  display: flex;
}

.services .page_width .card_list .card {
  width: 270px;
  margin: 0 auto;
  min-height: 200px;
  padding: 15px;
  margin-bottom: 10px;
}

.services .page_width .card_list .card h2 {
  margin: 20px 0 10px 0;
  font-size: 22px;
  color: #101d2d;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .services .page_width .card_list {
      margin-top: 0;
      width: 100%;
      display: block;
      padding: 20px 0;
  }

  .services .page_width .card_list .card {
      width: 280px;
  }
}

/** Pricing style */

.pricing {
  float: left;
  text-align: center;
  min-height: 500px;
  width: 100%;
  background-color: #101d2d;
  margin-bottom: 200px;
}

.pricing .page_width {
  max-width: 1400px;
  min-width: 390px;
  margin: auto;
}

.pricing .page_width h1 {
  width: 80%;
  margin: auto;
  font-size: 50px;
  color: #ffffff;
  margin-top: 100px;
  font-family: Playfair Display, serif;
}

.pricing .page_width p {
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  color: #94a3b8;
}

.pricing .page_width .price_list {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: -235px;
}

.pricing .page_width .price_list .card {
  width: 270px;
  margin: auto;
  height: 470px;
  padding: 15px;
  background-color: #ffffff;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 600px) {
  .pricing .page_width h1 {
    font-size: 2.5rem;
    font-weight: 550;
    font-family: Arial;
    text-align: start;
  }

  .pricing .page_width .price_list {
    margin-top: 0;
    width: 100%;
    display: block;
    padding: 20px 0;
  }

  .pricing .page_width .price_list .card {
    width: 280px;
  }
}

.pricing .page_width .price_list .card h3 {
  text-align: start;
  margin: 0 0 10px 0;
  font-size: 28px;
  color: #2174ea;
  font-weight: 500;
}

.pricing .page_width .price_list .card .price {
  text-align: start;
  margin: 0 0 10px 0;
  font-size: 50px;
  color: #334155;
  font-weight: 600;
}

.pricing .page_width .price_list .card .price .symbol {
  color: #64748b;
  font-size: 43px;
}

.pricing .page_width .price_list .card .price .number {
  font-family: "Times New Roman", Times, serif;
}

.pricing .page_width .price_list .card .price .month {
  color: #64748b;
  font-size: 20px;
}

.pricing .page_width .price_list .card p {
  font-size: 1rem;
  text-align: start;
  width: 95%;
  margin: auto;
  margin-top: 10px;
  color: #64748b;
}

.pricing .page_width .price_list .card button {
    margin: auto;
    margin-top: 30px;
    height: 45px;
    background-color: #2174ea;
    color: #ffffff;
    border: #2174ea;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0.55px;
    padding: 0 20px;
}

.pricing .page_width .price_list .card button:hover {
  background-color: #005de2;
}

.pricing .page_width .price_list .card input[type=number],
.pricing .page_width .price_list .card select {
  border: 0;
  border-bottom: 1px solid #64748b;
  outline: none;
  padding: 5px;
  margin-top: 5px;
  font-size: 15px;
  width: calc(100% - 30px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px inset;
}

.pricing .page_width .price_list .card select {
  width: calc(100% - 20px);
  cursor: pointer;
}

.pricing .page_width .price_list .card input[type=number]:hover,
.pricing .page_width .price_list .card select:hover {
  border-bottom: 1px solid #ff7f50;
}

.pricing .page_width .price_list .card input::-webkit-outer-spin-button,
.pricing .page_width .price_list .card input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/** CTA style */

.cta {
  float: left;
  text-align: center;
  min-height: 300px;
  width: 100%;
  background-color: #f1f5f9;
}

.cta .page_width {
  max-width: 1400px;
  min-width: 390px;
  margin: auto;
  padding-bottom: 20px;
}

.cta .page_width h1 {
  font-size: 45px;
  color: #334155;
  text-align: start;
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.cta .page_width p {
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  color: #334155;
  display: block;
}

.cta .page_width button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 45px;
    background-color: #334155;
    color: #ffffff;
    border: #334155;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 0.55px;
    padding: 0 20px;
}

.cta .page_width button:hover {
  background-color: #1e293b;
}

@media only screen and (max-width: 900px) {
  .cta .page_width h1 {
    font-size: 35px;
  }
  .cta .page_width p {
    display: none;
  }
}

/** Navigation style */

.navbar {
  max-width: calc(1400px - 10%);
  margin: auto;
  padding: 10px 5%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -70px;
}

.navbar span {
  float: left;
  color: #94a3b8;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 10px;
  text-decoration: none;
}

.navbar span:hover {
  color: #2174ea;
}

.navbar .menu {
  position: fixed;
  top:70px;
  right:0px;
  bottom:0px;
  left:0px;
  z-index: 2;
  background-color: #ffffff
}

.navbar .menu .pages {
  width: 90%;
  margin: 0 5%;
  padding: 10px 0;
  border-bottom: 1px solid #64748b;
  float: left;
}

.navbar .menu .pages span {
  width: 100%;
  margin: 7px 0;
  color: #334155;
  text-decoration: none;
}

/** Footer style */

.footer {
  max-width: calc(1400px - 10%);
  margin: auto;
  padding: 15px 5%;
  padding-top: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.footer span {
  float: left;
  color: #94a3b8;
  font-size: 17px;
  cursor: pointer;
  font-weight: 500;
  margin: 5px 10px;
}

.footer span:hover {
  color: #2174ea;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 0;
    margin: 0 5%;
    float: left;
    width: 90%;
    display: block;
  }

  .footer .pages {
    float: left;
    border-top: 1px solid #64748b;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .footer .pages span {
      width: 100%;
      margin: 7px 0;
  }
}

/** Documenting style */

.document {
  width: 100%;
  min-height: 250px;
  float: left;
}

.document .hat {
  width: 100%;
  min-height: 150px;
  float: left;
  background-color: #101d2d;
  align-items: center;
  margin-bottom: 20px;
}

.document .hat h1 {
  max-width: 1000px;
  font-size: 40px;
  color: #ffffff;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 25px;
}

.document h1, .document h2, .document h3, .document h4 {
  max-width: 1000px;
  font-size: 27px;
  color: #334155;
  margin: auto;
  margin-top: 35px;
}

.document h2 {
  font-size: 25px;
}

.document h3 {
  font-size: 23px;
}

.document h3 {
  font-size: 21px;
}

.document p {
  max-width: 1000px;
  font-size: 20px;
  color: #334155;
  margin: auto;
  margin-top: 15px;
}

.document li {
  max-width: 1000px;
  font-size: 20px;
  color: #334155;
  margin: auto;
  margin-top: 15px;
}


@media only screen and (max-width: 600px) {
  .document .hat h1 {
    width: 90%;
    margin-top: 100px;
    margin-bottom: 25px;
  }

  .document h1, .document h2, .document h3, .document h4, .document p {
    width: 90%;
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


/* Loading */
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-container .spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #334155;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-container p {
  margin-top: 20px;
  font-size: 1.2em;
  color: #334155;
}
